html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: table;
}

#top-bar {
  display: table-row;
  overflow: auto;
}

#toolbar {
  float: left;
  font-size: 15px;
  background-color: #444;
  padding: 0;
  margin: 0;
}

#toolbar > i {
  padding: none;
  cursor: pointer;
  display: inline-block;
  color: white;
  width: 1.7em;
  line-height: 1.7em;
  text-align: center;
  vertical-align: center;
}

#toolbar > i:hover {
  background-color: #888;
}
/* the background spins too, don't change it on spinning icons */
#toolbar > i.fa-spinner:hover {
  background-color: transparent;
}


#toolbar .clickmenu {
  font-size: 15px;
}


#edit-configuration-modal-wrapper .modal-content {
  display: flex;
  flex-direction: column;
  height: 80%;
}

#edit-configuration-modal {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#edit-configuration-modal textarea {
  font-size: 80%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#battery-status {
  float: left;
  font-size: 15px;
  padding: 0.2ex 1em;
  margin: 0;
}

#ws-status {
  float: right;
  background-color: #dddddd;
  padding: 0.2ex 0.3em;
}

#ws-status-icon.status-neutral {
  color: darkgray;
}

#ws-status-icon.status-opened {
  color: darkgreen;
}

#ws-status-icon.status-closed {
  color: darkred;
}

/* cancel jQuery's default */
.ui-state-disabled {
  opacity: 1;
  filter: none;
}


/* clickmenu */

.clickmenu {
  position: absolute;
  border: 1px solid #888;
  padding: 0;
  margin: 0;
  z-index: 10;
  white-space: nowrap;
}

.clickmenu > li {
  list-style: none;
  padding: 0;
  border: none;
  background-color: white;
}

.clickmenu > li:hover {
  background: #ccc;
}

.clickmenu > li a {
  text-decoration: none;
  padding: 0.3em 0.4em;
  display: block;
}

.clickmenu > li a:visited {
  color: inherit;
}


/* modal */

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: none;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0.5em;
  width: 60%;
}

.modal-buttons {
  border-top: 1px solid #888;
  margin-top: 1ex;
  text-align: right;
}

.modal-buttons > button {
  margin: 1ex 0.2em 0 0.2em;
}

/* portlets */

#portlets {
  clear: both;
  display: table-row;
  position: relative;
  width: 100%;
  height: 100%;
}

#portlet-template {
  display: none;
}

.portlet {
  border: 1px solid #888;
  display: inline-block;
  position: absolute;
}

.portlet-content {
}

.portlet-header {
  font-size: 10px;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}

.portlet-header i {
  cursor: pointer;
  font-size: 10px;
  opacity: 0.5;
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

body.battery-low {
  background-color: red;
}

.portlet-header i:hover {
  opacity: 1;
}

.portlet-header .clickmenu {
  font-size: 120%;
}

.portlet-title {
  font-size: 110%;
  font-weight: bold;
  padding: 0.1em 0.2em;
  margin: 0 0 0.1em 0;
  background-color: #ccc;
}

.portlet-header .ui-corner-all {
  border-radius: 0;
}

.portlet-content table {
  border: none;
}

.portlet-content table th {
  text-align: left;
}

td.data-number {
  text-align: right;
}

td.data-boolean {
  text-align: center;
}

.portlet-code {
  font-family: monospace;
}

div.portlet-console-entry {
  margin: 0;
  padding: 0.1em;
  border-bottom: 1px solid #888;
}

.log-error {
  background-color: #ffd0d0;
}

.log-warning {
  background-color: #ffffd0;
}

.log-notice {
  background-color: #e0e0ff;
}

.log-info {
  background-color: #e0ffff;
}

.log-debug {
  background-color: #f0f0f0;
}

div.portlet-logs-entry {
  margin: 0;
  padding: 0.1em;
  border-bottom: 1px solid #888;
}

div.portlet-logs-entry .log-date {
  font-size: 90%;
  padding-right: 1em;
}

div.portlet-logs-entry .log-tag {
  font-size: 90%;
  padding-right: 1em;
}


.portlet-asserv-done {
  color: green;
}

